.cards{
  margin: 0 2em;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
  width: 60em;
}

.card{
  background-color: rgba(255, 255, 255, 0.916);
  width: 24em;
}

.card-description{
  background-color: rgba(255, 255, 255, 0.734);
  border-radius: 12px;
  grid-column: span 2;
  padding: 0 2em;
  transition: 150ms linear;
  min-width: 40ch;
}

.card-description:hover{
  background-color: white;
  box-shadow: 2px 2px 16px white;

}

.card-description p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}



.card-skils{
  background-color: rgba(255, 255, 255, 0.734);
  grid-row: span 2;
  border-radius: 12px;
  padding: 0 2em;
  transition: 150ms linear;
  min-width: 20ch;
}

.card-skils:hover{
  background-color: white;
  box-shadow: 2px 2px 16px white;

}

.card-skils p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}





.d-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
