body{
  margin: 0;
  background-image: linear-gradient(rgb(6, 6, 46),rgba(6, 6, 46, 0.78));
  margin-bottom: 10em;
}

.container{
  margin: 0 4em;
}

.container-profile{
  width: 100%;
  height: 18rem;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
}

.profile{
  font-family: Arial, Helvetica, sans-serif;
}
